<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio 1<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://devcenter.heroku.com/articles/how-heroku-works">Heroku</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Tutorial Heroku NODE</a>
        
      </li>
      
    </ul>
  </div>
</nav>

